@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  /* --background: #ffffff; */
  --background: #222427;
  --foreground: #ededed;
  --primary: oklch(0.85 0.15 55);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(----primary);
}

:root {
  --gradient-from: #60a5fa;
  --gradient-to: #3b82f6;
}

.transition-gradient {
  background: linear-gradient(to right, var(--gradient-from), var(--gradient-to));
  transition: background 15s ease-in-out;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* var(--font-bebas) var(--font-oswald) */
  font-family: var(--font-bebas), Helvetica, sans-serif;
}

.font-oswald > p {
  font-family: var(--font-oswald), Helvetica, sans-serif;
}

.touch-none {
  touch-action: none;
}

.noselect {
  user-select: none; /* Chrome, Safari, etc. */
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
}
.btn {
  margin: 1rem 1rem 0 0;
  padding: 0.25rem 0.5rem;
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  outline: none;
  border: 1px solid #808080;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.btn:hover {
  background-color: #e4e3e34d;
}
#page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 468px) {
  #page {
    font-size: 3rem;
  }
  .btn {
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
  }
}
.app__brand__text {
  font-size: 2rem;
  font-weight: 700;
  color: #5a8dee;
  margin-left: 0.5rem;
}
/* Sidebar toggle button starts */
.outer__circle {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #5f97ef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer__circle::after {
  position: absolute;
  top: 0.225rem;
  left: 0.215rem;
  content: '';
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background-color: #fff;
}
.inner__circle {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #5f97ef;
  z-index: 100;
}
.inner__circle::after {
  position: absolute;
  top: 0.125rem;
  left: 0.15rem;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}
/* Sidebar toggle button ends */

.sidebar-shadow {
  z-index: 50 !important;
  background: linear-gradient(48deg, #1b04108a 0%, #040b1bb8 65%, #05061cba 100%);
}

.sidebar-profile {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0px 6px;
}

.avatar-wrapper {
  position: relative;
  width: 100%;
  flex-shrink: 0;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.08);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* petit rond connecté */
.status-dot {
  position: absolute;
  bottom: 9px;
  right: 2px;
  width: 12px;
  height: 12px;
  background-color: #22c55e; /* vert */
  border-radius: 9999px;
  border: 2px solid #020617; /* fond sidebar */
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.25);
  animation: 1.5s infinite pulse;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.5);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(34, 197, 94, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.status-text {
  font-size: 12px;
  color: #22c55e;
  opacity: 0.9;
}

.role-text {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.sidebar-separator {
  color: #33364b;
}

.dark {
  --primary: oklch(0.85 0.15 55);
}

.sidebar-grid   {
  background-color: oklch(31.714% 0.00004 271.152) !important;
}

.hover-shadow-card:hover {
  /* appli class from tailwind */
  @apply hover:-translate-y-1 hover:scale-103 hover:shadow-xl;
}

.hover-shadow-blue-card:hover {
  @apply hover:-translate-y-1 hover:scale-103;
  box-shadow: 4px 7px 16px 3px rgba(59, 130, 246, 0.3);
}

.hover-shadow-green-card:hover {
  @apply hover:-translate-y-1 hover:scale-103;
  box-shadow: 4px 7px 16px 3px rgba(34, 197, 94, 0.3);
}

.hover-shadow-purple-card:hover {
  @apply hover:-translate-y-1 hover:scale-103;
  box-shadow: 4px 7px 16px 3px rgba(168, 85, 247, 0.3);
}

.hover-shadow-yellow-card:hover {
  @apply hover:-translate-y-1 hover:scale-103;
  box-shadow: 4px 7px 16px 3px rgba(247, 244, 85, 0.3);
}

@keyframes mobile-subtle-rotate {
  0% {
    transform: perspective(1200px) rotateX(0deg) rotateY(24deg);
  }
  1% {
    transform: perspective(1200px) rotateX(1.5deg) rotateY(24deg);
  }
  2% {
    transform: perspective(1200px) rotateX(3deg) rotateY(23.8deg);
  }
  3% {
    transform: perspective(1200px) rotateX(4.5deg) rotateY(23.6deg);
  }
  4% {
    transform: perspective(1200px) rotateX(6deg) rotateY(23.2deg);
  }
  5% {
    transform: perspective(1200px) rotateX(7.4deg) rotateY(22.8deg);
  }
  6% {
    transform: perspective(1200px) rotateX(8.8deg) rotateY(22.3deg);
  }
  7% {
    transform: perspective(1200px) rotateX(10.2deg) rotateY(21.7deg);
  }
  8% {
    transform: perspective(1200px) rotateX(11.6deg) rotateY(21deg);
  }
  9% {
    transform: perspective(1200px) rotateX(12.9deg) rotateY(20.3deg);
  }
  10% {
    transform: perspective(1200px) rotateX(14.1deg) rotateY(19.4deg);
  }
  11% {
    transform: perspective(1200px) rotateX(15.3deg) rotateY(18.5deg);
  }
  12% {
    transform: perspective(1200px) rotateX(16.4deg) rotateY(17.5deg);
  }
  13% {
    transform: perspective(1200px) rotateX(17.5deg) rotateY(16.4deg);
  }
  14% {
    transform: perspective(1200px) rotateX(18.5deg) rotateY(15.3deg);
  }
  15% {
    transform: perspective(1200px) rotateX(19.4deg) rotateY(14.1deg);
  }
  16% {
    transform: perspective(1200px) rotateX(20.3deg) rotateY(12.9deg);
  }
  17% {
    transform: perspective(1200px) rotateX(21deg) rotateY(11.6deg);
  }
  18% {
    transform: perspective(1200px) rotateX(21.7deg) rotateY(10.2deg);
  }
  19% {
    transform: perspective(1200px) rotateX(22.3deg) rotateY(8.8deg);
  }
  20% {
    transform: perspective(1200px) rotateX(22.8deg) rotateY(7.4deg);
  }
  21% {
    transform: perspective(1200px) rotateX(23.2deg) rotateY(6deg);
  }
  22% {
    transform: perspective(1200px) rotateX(23.6deg) rotateY(4.5deg);
  }
  23% {
    transform: perspective(1200px) rotateX(23.8deg) rotateY(3deg);
  }
  24% {
    transform: perspective(1200px) rotateX(24deg) rotateY(1.5deg);
  }
  25% {
    transform: perspective(1200px) rotateX(24deg) rotateY(0deg);
  }
  26% {
    transform: perspective(1200px) rotateX(24deg) rotateY(-1.5deg);
  }
  27% {
    transform: perspective(1200px) rotateX(23.8deg) rotateY(-3deg);
  }
  28% {
    transform: perspective(1200px) rotateX(23.6deg) rotateY(-4.5deg);
  }
  29% {
    transform: perspective(1200px) rotateX(23.2deg) rotateY(-6deg);
  }
  30% {
    transform: perspective(1200px) rotateX(22.8deg) rotateY(-7.4deg);
  }
  31% {
    transform: perspective(1200px) rotateX(22.3deg) rotateY(-8.8deg);
  }
  32% {
    transform: perspective(1200px) rotateX(21.7deg) rotateY(-10.2deg);
  }
  33% {
    transform: perspective(1200px) rotateX(21deg) rotateY(-11.6deg);
  }
  34% {
    transform: perspective(1200px) rotateX(20.3deg) rotateY(-12.9deg);
  }
  35% {
    transform: perspective(1200px) rotateX(19.4deg) rotateY(-14.1deg);
  }
  36% {
    transform: perspective(1200px) rotateX(18.5deg) rotateY(-15.3deg);
  }
  37% {
    transform: perspective(1200px) rotateX(17.5deg) rotateY(-16.4deg);
  }
  38% {
    transform: perspective(1200px) rotateX(16.4deg) rotateY(-17.5deg);
  }
  39% {
    transform: perspective(1200px) rotateX(15.3deg) rotateY(-18.5deg);
  }
  40% {
    transform: perspective(1200px) rotateX(14.1deg) rotateY(-19.4deg);
  }
  41% {
    transform: perspective(1200px) rotateX(12.9deg) rotateY(-20.3deg);
  }
  42% {
    transform: perspective(1200px) rotateX(11.6deg) rotateY(-21deg);
  }
  43% {
    transform: perspective(1200px) rotateX(10.2deg) rotateY(-21.7deg);
  }
  44% {
    transform: perspective(1200px) rotateX(8.8deg) rotateY(-22.3deg);
  }
  45% {
    transform: perspective(1200px) rotateX(7.4deg) rotateY(-22.8deg);
  }
  46% {
    transform: perspective(1200px) rotateX(6deg) rotateY(-23.2deg);
  }
  47% {
    transform: perspective(1200px) rotateX(4.5deg) rotateY(-23.6deg);
  }
  48% {
    transform: perspective(1200px) rotateX(3deg) rotateY(-23.8deg);
  }
  49% {
    transform: perspective(1200px) rotateX(1.5deg) rotateY(-24deg);
  }
  50% {
    transform: perspective(1200px) rotateX(0deg) rotateY(-24deg);
  }
  51% {
    transform: perspective(1200px) rotateX(-1.5deg) rotateY(-24deg);
  }
  52% {
    transform: perspective(1200px) rotateX(-3deg) rotateY(-23.8deg);
  }
  53% {
    transform: perspective(1200px) rotateX(-4.5deg) rotateY(-23.6deg);
  }
  54% {
    transform: perspective(1200px) rotateX(-6deg) rotateY(-23.2deg);
  }
  55% {
    transform: perspective(1200px) rotateX(-7.4deg) rotateY(-22.8deg);
  }
  56% {
    transform: perspective(1200px) rotateX(-8.8deg) rotateY(-22.3deg);
  }
  57% {
    transform: perspective(1200px) rotateX(-10.2deg) rotateY(-21.7deg);
  }
  58% {
    transform: perspective(1200px) rotateX(-11.6deg) rotateY(-21deg);
  }
  59% {
    transform: perspective(1200px) rotateX(-12.9deg) rotateY(-20.3deg);
  }
  60% {
    transform: perspective(1200px) rotateX(-14.1deg) rotateY(-19.4deg);
  }
  61% {
    transform: perspective(1200px) rotateX(-15.3deg) rotateY(-18.5deg);
  }
  62% {
    transform: perspective(1200px) rotateX(-16.4deg) rotateY(-17.5deg);
  }
  63% {
    transform: perspective(1200px) rotateX(-17.5deg) rotateY(-16.4deg);
  }
  64% {
    transform: perspective(1200px) rotateX(-18.5deg) rotateY(-15.3deg);
  }
  65% {
    transform: perspective(1200px) rotateX(-19.4deg) rotateY(-14.1deg);
  }
  66% {
    transform: perspective(1200px) rotateX(-20.3deg) rotateY(-12.9deg);
  }
  67% {
    transform: perspective(1200px) rotateX(-21deg) rotateY(-11.6deg);
  }
  68% {
    transform: perspective(1200px) rotateX(-21.7deg) rotateY(-10.2deg);
  }
  69% {
    transform: perspective(1200px) rotateX(-22.3deg) rotateY(-8.8deg);
  }
  70% {
    transform: perspective(1200px) rotateX(-22.8deg) rotateY(-7.4deg);
  }
  71% {
    transform: perspective(1200px) rotateX(-23.2deg) rotateY(-6deg);
  }
  72% {
    transform: perspective(1200px) rotateX(-23.6deg) rotateY(-4.5deg);
  }
  73% {
    transform: perspective(1200px) rotateX(-23.8deg) rotateY(-3deg);
  }
  74% {
    transform: perspective(1200px) rotateX(-24deg) rotateY(-1.5deg);
  }
  75% {
    transform: perspective(1200px) rotateX(-24deg) rotateY(0deg);
  }
  76% {
    transform: perspective(1200px) rotateX(-24deg) rotateY(1.5deg);
  }
  77% {
    transform: perspective(1200px) rotateX(-23.8deg) rotateY(3deg);
  }
  78% {
    transform: perspective(1200px) rotateX(-23.6deg) rotateY(4.5deg);
  }
  79% {
    transform: perspective(1200px) rotateX(-23.2deg) rotateY(6deg);
  }
  80% {
    transform: perspective(1200px) rotateX(-22.8deg) rotateY(7.4deg);
  }
  81% {
    transform: perspective(1200px) rotateX(-22.3deg) rotateY(8.8deg);
  }
  82% {
    transform: perspective(1200px) rotateX(-21.7deg) rotateY(10.2deg);
  }
  83% {
    transform: perspective(1200px) rotateX(-21deg) rotateY(11.6deg);
  }
  84% {
    transform: perspective(1200px) rotateX(-20.3deg) rotateY(12.9deg);
  }
  85% {
    transform: perspective(1200px) rotateX(-19.4deg) rotateY(14.1deg);
  }
  86% {
    transform: perspective(1200px) rotateX(-18.5deg) rotateY(15.3deg);
  }
  87% {
    transform: perspective(1200px) rotateX(-17.5deg) rotateY(16.4deg);
  }
  88% {
    transform: perspective(1200px) rotateX(-16.4deg) rotateY(17.5deg);
  }
  89% {
    transform: perspective(1200px) rotateX(-15.3deg) rotateY(18.5deg);
  }
  90% {
    transform: perspective(1200px) rotateX(-14.1deg) rotateY(19.4deg);
  }
  91% {
    transform: perspective(1200px) rotateX(-12.9deg) rotateY(20.3deg);
  }
  92% {
    transform: perspective(1200px) rotateX(-11.6deg) rotateY(21deg);
  }
  93% {
    transform: perspective(1200px) rotateX(-10.2deg) rotateY(21.7deg);
  }
  94% {
    transform: perspective(1200px) rotateX(-8.8deg) rotateY(22.3deg);
  }
  95% {
    transform: perspective(1200px) rotateX(-7.4deg) rotateY(22.8deg);
  }
  96% {
    transform: perspective(1200px) rotateX(-6deg) rotateY(23.2deg);
  }
  97% {
    transform: perspective(1200px) rotateX(-4.5deg) rotateY(23.6deg);
  }
  98% {
    transform: perspective(1200px) rotateX(-3deg) rotateY(23.8deg);
  }
  99% {
    transform: perspective(1200px) rotateX(-1.5deg) rotateY(24deg);
  }
  100% {
    transform: perspective(1200px) rotateX(0deg) rotateY(24deg);
  }
}

.svg-container {
  animation: none;
}

@media (max-width: 768px) {
  .svg-container {
    scale: 1.2;
    animation: 20s linear 0s infinite normal none running mobile-subtle-rotate;
  }
}
